
main {
    text-align:center;
    background-color:#0c09b6;
    padding: 20px;
    color:#ffff
  }
  
  main h1 {
    font-size: 36px;
    color:#ffff;
  }
  
  .home-section {
    border: 2px solid #0c09b6;
    padding: 20px;
    margin: 20px;
  }